extends base.pug

block style
    style 
       include  contact.css 


block content 
    

    
    <section id="contact">

         <div id="box">Thank you ! we have recived your Message</div>
        
    </section>