<!DOCTYPE html>

html
  head
    title apna chotu 
    block style 
    
  body
    <nav id="navbar" >
        <div id="logo">
            <img src="/static/logo.jpg" alt="apna chotu">
            
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#">About Us </a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    block content
  
      